@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .03rem;
    color: #302A43;
}

a {
    color: #302A43;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: #FCBC14;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

/*--------------------------------------------------------------------- Colours */

.bg-purple {
    background-color: #3D1EAE;
}

.text-purple {
    color: #3D1EAE;
}

.text-navy {
    color: #302A43;
}

.text-yellow {
    color: #FCBC14;
    overflow-wrap: break-word;
}

p .text-yellow:hover {
    color: #ffffff;
}

.bg-blue {
    background-color: #F7FAFD;
}

.bg-yellow {
    background-color: #FCBC14;
}

.bg-divide {
    background: linear-gradient(0deg, #1C185D 40%, #FFFFFF 40%);
}

/*--------------------------------------------------------------------- Nav */

.nav-item {
    font-size: large;
    font-weight: 600;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.35rem 0rem;
    border: none;
}

.navbar-expand-lg .navbar-nav .nav-link, .nav-item {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 4px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FCBC14;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:after { 
    width: 100%; 
    left: 0; 
}

.nav-btn {
    font-weight: 600;
    height: 40px;
    background-color: #FCBC14;
    border: 2px solid #FCBC14;
    color: #3D1EAE;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-btn:hover {
    font-weight: 600;
    height: 40px;
    background-color: transparent;
    border: 2px solid #FCBC14;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-btn:active {
    color: #ffffff;
}

/*--------------------------------------------------------------------- Special paddings/margins/text */

.font-weight-semi {
    font-weight: 600;
}

#sidebar {
    border-right: 3px solid #FCBC14 ;
}

.radius {
    border-radius: 25px;
}

.radius-top {
    border-radius: 25px 25px 0px 0;
}

.translate-y {
    transition: transform .15s ease-in-out;
}

.translate-y:hover {
    transform: translateY(-3px);
}

/* Truncate text src: https://bootsnipp.com/snippets/ORE0l */

.crop-text-2 {
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.hero-text {
    font-size: 4.3rem;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #302A43;
    text-align: center;
    background-color: #92BBFC;
    border-radius: .25rem;
}

/* Recolour tooltip src: https://stackoverflow.com/questions/36143382/re-color-tooltip-in-bootstrap-4 */

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    margin-top: 0px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: #92BBFC;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #92BBFC;
}

.back-arrow:hover {
    padding-right: 10px !important;
}

.no-italic {
    font-style: normal;   
}

/*--------------------------------------------------------------------- Image / Adjustments */

/* Positioning card image src: https://css-tricks.com/almanac/properties/o/object-position/ */

.card-profile-image {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
    object-position: 50% 20%;
}

.hero-background {
    background-image: url("../images/hero-background.jpg");
    max-height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.male-cutout {
    overflow: hidden;
    width: 100vw;
    height: auto;
    bottom: 0;
}

#video-image {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    overflow: auto;
    padding-left: 30px;
    cursor: pointer;
}

#results-image {
    width: 80%;
    height: auto;
    object-fit: scale-down;
    overflow: auto;
}

.minus-margin {
    margin-bottom: -100px;
}

.minus-margin-100 {
    margin-bottom: -100px;
}

/*--------------------------------------------------------------------- Buttons */

button:focus {
    outline: 0;
}

.submit-btn {
    font-weight: 600;
    height: 40px;
    background-color: #F7FAFD;
    border: 2px solid #92BBFC;
    color: #302A43;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.submit-btn:hover {
    font-weight: 600;
    height: 40px;
    background-color: #92BBFC;
    border: 2px solid #92BBFC;
    color: #F7FAFD;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.green-btn {
    font-weight: 600;
    height: 40px;
    font-size: large;
    background-color: #9ACF61;
    border: 2px solid #9ACF61;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.green-btn:hover {
    font-weight: 600;
    height: 40px;
    background-color: transparent;
    border: 2px solid #9ACF61;
    color: #FFFFFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.yellow-btn {
    font-weight: 600;
    height: 40px;
    font-size: large;
    background-color: #FCBC14;
    border: 2px solid #FCBC14;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.yellow-btn:hover {
    font-weight: 600;
    height: 40px;
    background-color: transparent;
    border: 2px solid #FCBC14;
    color: #FCBC14;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.search-btn {
    font-weight: 600;
    height: 40px;
    border-radius: 0px 50px 50px 0;
    background-color: #9ACF61;
    border: 2px solid #9ACF61;
    color: #F7FAFD;
    font-size: x-large;
    height: 60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.search-btn:hover {
    background-color: #92BBFC;
    border: 2px solid #92BBFC;
    color: #F7FAFD;
}

.purple-btn {
    font-weight: 600;
    height: 40px;
    font-size: large;
    background-color: #3D1EAE;
    border: 2px solid #3D1EAE;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.purple-btn:hover {
    font-weight: 600;
    height: 40px;
    background-color: transparent;
    border: 2px solid #3D1EAE;
    color: #3D1EAE;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.edit-delete-btn {
    font-weight: 600;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #92BBFC;
    color: #302A43;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.edit-delete-btn:hover {
    font-weight: 600;
    height: 40px;
    background-color: #92BBFC;
    border: 2px solid #92BBFC;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.purple-border-btn {
    font-weight: 600;
    height: 40px;
    font-size: large;
    background-color: #ffffff;
    border: 2px solid #3D1EAE;
    color: #3D1EAE;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.purple-border-btn:hover {
    font-weight: 600;
    height: 40px;
    background-color: #3D1EAE;
    border: 2px solid #3D1EAE;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.green-btn {
    font-weight: 600;
    height: 40px;
    background-color: #9ACF61;
    border: 2px solid #9ACF61;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.green-btn:hover {
    font-weight: 600;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #9ACF61;
    color: #9ACF61;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.red-btn {
    font-weight: 600;
    height: 40px;
    background-color: #f00235;
    border: 2px solid #f00235;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.red-btn:hover {
    font-weight: 600;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #f00235;
    color: #f00235;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/*--------------------------------------------------------------------- Cards */

.card-color {
    background-color: #F7FAFD;
}

.card-color:hover {
    background-color: #3D1EAE;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#popular-plan {
    box-shadow: 0 12px 26px rgb(28, 24, 93, .2);
    transform: translateY(-15px);
    border: 3px solid #FCBC14;
}

.card {
    background-color: #F7FAFD;
    border: none;
}

.card:hover {
    box-shadow: 0 12px 26px rgb(28, 24, 93, .2);
}

.card-footer {
    border-radius: 30px;
    border: none;
}

.card-subject h6 {
    font-size: .8rem;
    letter-spacing: -.01rem;
}

.card-footer small {
    color: #FCBC14;
}

/*----------------------------------------------------------------- Modal/s */

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}

.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}

/*--------------------------------------------------------------------- Footer */

.footer {
    position: absolute;
    width: 100%;
    line-height: 35px;
    background-color: #1C185D;
    color: white;
}

.footer p {
    line-height: 25px;
}

.footer li a {
    color: rgba(255, 255, 255, .6);
    font-weight: 200;
}

.footer li a:hover {
    color: #FCBC14;
}

.footer h5 {
    letter-spacing: .2rem;
}

/*--------------------------------------------------------------------- Forms */

.custom-select  {
    font-weight: 600;
    font-size: larger;
    height: 60px;
    background-color: #FCBC14;
    border: 2px solid #FCBC14;
    border-radius: 50px;
    color: #3D1EAE;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.search-form {
    position: relative;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-100%);
    transition: all .5s;
    width: 50px;
    height: 50px;
    background: #9ACF61;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #9ACF61;
    padding: 5px;
}

.search-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa-search{
    box-sizing: border-box;
    padding: 12px;
    margin: 0 -1px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    transition: all 1s;
}

.search-form:hover{
    width: 200px;
    cursor: pointer;
    border: 4px solid #FCBC14;
}

.search-form:hover input{
    display: block;
}

.search-form:hover .fa-search{
    background: #FCBC14;
    color: white;
}

#register-form {
    min-height: 72vh;
    background-color: #F7FAFD;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.subscribe-email {
    background-color: rgba(255,255,255, .22);
    border: none;
    border-radius: 50px 0 0 50px;
    font-size: x-large;
    font-weight: 300;
    color: white;
}

#subscribe .form-control::-webkit-input-placeholder {
    color: #FFFFFF;
}

.subscribe-btn {
    background-color: #3D1EAE;
    border-radius: 0 50px 50px 0;
    border: none;
    font-size: x-large;
    font-weight: 600;
    color: white;
    padding: 7px 0;
}

/*--------------------------------------------------------------------- Media Queries */

@media screen and (max-width: 767.98px) {
    
    .hero-text {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .jumbotron {
        text-align: center;
    }

    .card-profile-image {
        max-height: 300px;
        min-height: 300px;
    }

    .search-btn {
        height: 35px;
        font-size: small;
    }

    .custom-select  {
        font-weight: 600;
        font-size: small;
        height: 35px;
    }

    .minus-margin {
        margin-bottom: -100px;
    }
    
    #profile-img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
    }

    .subscribe-email {
        font-weight: 600;
        font-size: smaller;
        height: 35px;
    }

    .subscribe-btn {
        font-weight: 600;
        font-size: small;
        height: 35px;
    }

    #envelope {
        width: 200px;
    }

    .bg-divide h3 {
        font-size: 1.2em;
        text-align: center;
    }

    .our-tutors-title {
        font-size: xx-large;
    }

    .search-form:hover{
        width: 220px;
        cursor: pointer;
        border: 4px solid #FCBC14;
    }

}

@media screen and (max-width: 821.98px) {
    .hero-text {
        font-size: 3rem;
    }
}

@media screen and (max-width: 992px) {
    .container {
      width: 100%;
      max-width: none;
    }

    .minus-margin {
        margin-bottom: -50px;
    }
}