{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
  <h4 class="col-12 alert m-auto alert-success alert-dismissible fixed-bottom mb-5 rounded-0 py-4 text-left text-sm-center border-0" role="alert">
    {{ message }} <i class="fas fa-user-check ml-2"></i> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>
{% endfor %} {% endif %} {% endwith %}

  <main id="register-form" class="container-fluid d-flex align-items-center pb-5 mt-5">
    <form action="{{url_for('update_profile', username_id=profile._id)}}" method="POST" class="form-signin mt-5">
      <div class="text-center mb-4 mt-5">
        <h1 class="mb-3 font-weight-semi text-purple">Editing {{ session['username'].capitalize() }}'s Profile</h1>
        <h2 class="mb-3 text-purple">Let's make some changes</h2>
      </div>

      <label for="first_name">First Name</label>
      <div class="form-label-group">
        <input type="text" id="first_name" name="first_name" value="{{ profile.first_name }}" class="form-control p-4 rounded-pill mb-4" placeholder="Your First Name" required="" autofocus="" autocomplete="off">
      </div>
      
      <label for="last_name">Last Name</label>
      <div class="form-label-group">
        <input type="text" id="last_name" name="last_name" value="{{ profile.last_name }}" class="form-control p-4 rounded-pill mb-4" placeholder="Your surname" required="" autocomplete="off">
      </div>

      <label for="email">Email address</label>
      <div class="form-label-group">
        <input type="email" id="email" name="email" value="{{ profile.email }}" class="form-control p-4 rounded-pill mb-4" placeholder="Your email address" required="" autofocus="" autocomplete="off">
      </div>
      
      <label for="about">About You</label>
      <div class="form-label-group mb-4">
        <textarea class="form-control" id="about" name="about" rows="10" required>{{ profile.about }}</textarea>
      </div>  
      
      <label for="subject">Subject You Teach</label>
      <div class="form-label-group">
        <select class="dropdown-select col-12 form-control rounded-pill mb-4" id="subject" name="subject" required="required">
          <option value="">I teach...</option>
          <option disabled>——————————————</option>
          <option value="Accounting">Accounting</option>
          <option value="Applied Maths">Applied Maths</option>
          <option value="Art">Art</option>
          <option value="Biology">Biology</option>
          <option value="Business">Business</option>
          <option value="Chemistry">Chemistry</option>
          <option value="Construction">Construction</option>
          <option value="Economics">Economics</option>
          <option value="English">English</option>
          <option value="French">French</option>
          <option value="Geography">Geography</option>
          <option value="German">German</option>
          <option value="Home Economics">Home Economics</option>
          <option value="Maths">Maths</option>
          <option value="Music">Music</option>
          <option value="Physics">Physics</option>
          <option value="Spanish">Spanish</option>
          <option value="Technology">Technology</option>
        </select>
      </div>
      
      <label for="qualification">Qualification</label>
      <div class="form-label-group">
        <input type="text" id="qualification" name="qualification" value="{{ profile.qualification }}" class="form-control p-4 rounded-pill mb-4" placeholder="Your qualification title" required="" autocomplete="off">
      </div>
      
      <label for="years_tutoring">Years Tutoring</label>
      <div class="form-label-group">
        <select class="dropdown-select col-12 form-control rounded-pill mb-4" id="years_tutoring" name="years_tutoring" required="required">
          <option value="1">Less than 1 year</option>
          <option value="1">1 Years</option>
          <option value="2">2 Years</option>
          <option value="3">3 Years</option>
          <option value="5">5+ Years</option>
        </select>
      </div>
      
      <label for="profile_image">Profile Image</label>
      <div class="form-label-group">
        <input type="text" id="profile_image" name="profile_image" value="{{ profile.profile_image }}" class="form-control p-4 rounded-pill mb-4" placeholder="Unsplash link" required="" autocomplete="off">
      </div>

      <div class="row ml-1">
        <a href="{{ url_for('my_profile', creator_id=session['username'])}}" class="col-4 mr-4 red-btn h5 font-weight-semi rounded-pill justify-content-center text-center pt-2">Cancel<i class="fas fa-times pl-3"></i></a>
        <button class="col-4 green-btn h5 font-weight-semi rounded-pill justify-content-center text-center" type="submit">Update<i class="fas fa-check pl-3"></i></button>
      </div>
    </form>
  </main>
{% endblock %}