{% extends 'base.html' %}

{% block content %}
<main class="container-fluid p-0">
    
    <header class="container-flex bg-purple hero-background text-white">
      <div class="jumbotron container mt-5 bg-transparent pb-0">
        <div class="row">
          <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300" class="col-md-6 align-self-center">
            <h1 class="hero-text font-weight-bold pt-4 pt-md-0">Your journey to success.</h1>
            <p class="mb-5 d-none d-sm-flex">Let your knowledge get off the ground. We are your learning launchpad. Let your knowledge get off the ground. We are your learning launchpad.</p>
            <h2 class="font-weight-semi text-yellow my-3">Find a tutor in Dublin:</h2>
            <div class="row">
              <div class="input-group d-flex col-12 col-sm-11 mb-4">
                <select class="pl-4 custom-select" id="inputGroupSelect01">
                  <option selected disabled>Choose Your Subject</option>
                  <option value="1">Accounting</option>
                  <option value="2">Applied Maths</option>
                  <option value="3">Art</option>
                  <option value="4">Biology</option>
                  <option value="5">Business</option>
                  <option value="6">Chemistry</option>
                  <option value="7">Construction</option>
                  <option value="8">Economics</option>
                  <option value="9">English</option>
                  <option value="10">French</option>
                  <option value="11">Geography</option>
                  <option value="12">German</option>
                  <option value="13">Home Economics</option>
                  <option value="14">Maths</option>
                  <option value="15">Music</option>
                  <option value="16">Physics</option>
                  <option value="17">Spanish</option>
                  <option value="18">Technology</option>
                </select>
                <span class="input-group-btn">
                  <button class="search-btn px-2 px-sm-4" type="submit">Search</button>
                </span>
              </div>
            </div>
            <p class="d-flex col-12 p-0 text-white">Register as a tutor?<a href="{{url_for('register')}}" class="d-flex pl-2 text-yellow">Click here</a></p>
          </div>
          <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300" class="d-none d-md-flex col-md-6">
            <img src="{{ url_for('static', filename='images/male-cutout.png') }}" class="male-cutout img-responsive">
          </div>
        </div> 
      </div>
    </header>

    <section id="about-section" data-spy="scroll" class="container-flex text-white my-2 my-sm-5">
      <div class="jumbotron container bg-transparent">
        <div class="row">
          <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000" class="col-md-6 align-self-center">
            <h2 class="hero-text text-navy font-weight-bold mb-4">Why Us?</h2>
            <p class="d-flex text-navy">Let your knowledge get off the ground. We are your learning launchpad. Let your knowledge get off the ground. We are your learning launchpad.</p>
            <p class="mb-5 d-flex text-navy">Let your knowledge get off the ground. We are your learning launchpad. Let your knowledge get off the ground. We are your learning launchpad.</p>
            <div class="col-md-6 mb-3 p-0">
              <a href="{{url_for('tutors')}}" class="purple-btn px-4 rounded-pill pt-1">Find A Tutor</a>
            </div>
          </div>
          <button type="button" data-toggle="modal" data-src="https://www.youtube.com/embed/pVE92TNDwUk" data-target="#myModal" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="1500" class="d-flex col-md-6 pt-2 pt-sm-5 border-0 bg-transparent video-btn order-first order-sm-last">
            <img id="video-image" class="translate-y" src="{{ url_for('static', filename='images/video.png') }}">
          </button>
        </div> 
      </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>        
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" id="video" allow="autoplay"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="container-flex text-white my-2 my-sm-5">
      <div class="jumbotron container bg-transparent">
        <div class="row">
          <div data-aos="fade-right" data-aos-duration="1000" class="d-flex col-md-6 pt-2 pt-sm-5 text-center justify-content-center">
            <img id="results-image" src="{{ url_for('static', filename='images/results.png') }}">
          </div>
          <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200" class="col-md-6 align-self-center">
            <h2 class="hero-text text-navy font-weight-bold mb-4">Resuts driven</h2>
            <p class="d-flex text-navy">Let your knowledge get off the ground. We are your learning launchpad. Let your knowledge get off the ground. We are your learning launchpad.</p>
            <p class="mb-5 d-flex text-navy">Let your knowledge get off the ground. We are your learning launchpad. Let your knowledge get off the ground. We are your learning launchpad.</p>
            <div class="col-md-6 mb-3 p-0">
              <a href="{{url_for('register')}}" class="yellow-btn px-4 rounded-pill pt-1">Sign Up now</a>
            </div>
          </div>
        </div> 
      </div>
    </section>

    <section id="testimonials" class="container text-white my-2 my-sm-5 pt-2 pt-sm-5">
      <h2 class="hero-text text-navy font-weight-bold mb-2 mb-sm-5 py-2 py-sm-5">What our students say...</h2>
      <div class="row">
          <div data-aos="fade-up" data-aos-duration="1000" class="col-lg-6 col-md-6 mb-4">
            <div class="h-100">
              <div class="d-flex justify-content-end">
                <img class="testimonial-img" src="{{ url_for('static', filename='images/testimonial-profile-girl.png') }}" alt="">
              </div>
              <div class="bg-blue pt-5 card-body text-navy radius">
                  <h3 class="font-weight-semi">Aileen O'Sullivan</h3>
                  <h5 class="font-weight-semi text-muted">Leaving Certificate Student</h5>
                <p class="card-text col-12 col-sm-8 p-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                <div class="d-flex text-yellow font-weight-semi justify-content-center">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
              </div>
            </div>
          </div>

          <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400" class="col-lg-6 col-md-6 mb-4">
            <div class="h-100">
              <div class="d-flex justify-content-end">
                <img class="testimonial-img" src="{{ url_for('static', filename='images/testimonial-profile-guy.png') }}" alt="">
              </div>
              <div class="bg-blue pt-5 card-body text-navy radius">
                  <h3 class="font-weight-semi">Cormac Mahoney</h3>
                  <h5 class="font-weight-semi text-muted">Leaving Certificate Student</h5>
                <p class="card-text col-12 col-sm-8 p-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                <div class="d-flex text-yellow font-weight-semi justify-content-center">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
              </div>
            </div>
          </div>
        </div>
    </section>

  </main>
{% endblock %}