{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
  <h4 class="col-12 alert m-auto alert-success alert-dismissible fixed-bottom mb-5 rounded-0 py-4 text-left text-sm-center border-0" role="alert">
    {{ message }} <i class="fas fa-user-check ml-2"></i> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>
{% endfor %} {% endif %} {% endwith %}
<!-- Page Content -->
<main class="container mt-5 mb-5">
    <div class="row pt-5">
      <div id="sidebar" class="col-md-3 mt-5 d-none d-md-block">
        <h2 class="h1 my-4 font-weight-semi">Subjects</h2>
        <div class="list-group">
            <a href="{{url_for('tutors')}}" class="h5 list-group-item"><i class="fas fa-users pr-2 pb-3 border-bottom"></i>All Tutors</a>
            <div class="list-group">
              <a href="{{url_for('tutor_by_subject', subject='Accounting')}}" class="h5 list-group-item">Accounting</a>
              <a href="{{url_for('tutor_by_subject', subject='Applied Maths')}}" class="h5 list-group-item">Applied Maths</a>
              <a href="{{url_for('tutor_by_subject', subject='Art')}}" class="h5 list-group-item">Art</a>
              <a href="{{url_for('tutor_by_subject', subject='Biology')}}" class="h5 list-group-item">Biology</a>
              <a href="{{url_for('tutor_by_subject', subject='Business')}}" class="h5 list-group-item">Business</a>
              <a href="{{url_for('tutor_by_subject', subject='Chemistry')}}" class="h5 list-group-item">Chemistry</a>
              <a href="{{url_for('tutor_by_subject', subject='Construction')}}" class="h5 list-group-item">Construction</a>
              <a href="{{url_for('tutor_by_subject', subject='Economics')}}" class="h5 list-group-item">Economics</a>
              <a href="{{url_for('tutor_by_subject', subject='English')}}" class="h5 list-group-item">English</a>
              <a href="{{url_for('tutor_by_subject', subject='French')}}" class="h5 list-group-item">French</a>
              <a href="{{url_for('tutor_by_subject', subject='Geography')}}" class="h5 list-group-item">Geography</a>
              <a href="{{url_for('tutor_by_subject', subject='German')}}" class="h5 list-group-item">German</a>
              <a href="{{url_for('tutor_by_subject', subject='Home Economics')}}" class="h5 list-group-item">Home Economics</a>
              <a href="{{url_for('tutor_by_subject', subject='Maths')}}" class="h5 list-group-item">Maths</a>
              <a href="{{url_for('tutor_by_subject', subject='Music')}}" class="h5 list-group-item">Music</a>
              <a href="{{url_for('tutor_by_subject', subject='Physics')}}" class="h5 list-group-item">Physics</a>
              <a href="{{url_for('tutor_by_subject', subject='Spanish')}}" class="h5 list-group-item">Spanish</a>
              <a href="{{url_for('tutor_by_subject', subject='Technology')}}" class="h5 list-group-item">Technology</a>
            </div>
        </div>
      </div>

      <div class="dropdown show d-flex col-12 mt-5 d-md-none">
        <a class="h2 btn btn-secondary custom-select" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CHOOSE A SUBJECT
        </a>
      
        <div class="dropdown-menu text-center col-8 " aria-labelledby="dropdownMenuLink">
          <a href="{{url_for('tutors')}}" class="h5 list-group-item">All Tutors</a>
          <a href="{{url_for('tutor_by_subject', subject='Accounting')}}" class="h5 list-group-item">Accounting</a>
          <a href="{{url_for('tutor_by_subject', subject='Applied Maths')}}" class="h5 list-group-item">Applied Maths</a>
          <a href="{{url_for('tutor_by_subject', subject='Art')}}" class="h5 list-group-item">Art</a>
          <a href="{{url_for('tutor_by_subject', subject='Biology')}}" class="h5 list-group-item">Biology</a>
          <a href="{{url_for('tutor_by_subject', subject='Business')}}" class="h5 list-group-item">Business</a>
          <a href="{{url_for('tutor_by_subject', subject='Chemistry')}}" class="h5 list-group-item">Chemistry</a>
          <a href="{{url_for('tutor_by_subject', subject='Construction')}}" class="h5 list-group-item">Construction</a>
          <a href="{{url_for('tutor_by_subject', subject='Economics')}}" class="h5 list-group-item">Economics</a>
          <a href="{{url_for('tutor_by_subject', subject='English')}}" class="h5 list-group-item">English</a>
          <a href="{{url_for('tutor_by_subject', subject='French')}}" class="h5 list-group-item">French</a>
          <a href="{{url_for('tutor_by_subject', subject='Geography')}}" class="h5 list-group-item">Geography</a>
          <a href="{{url_for('tutor_by_subject', subject='German')}}" class="h5 list-group-item">German</a>
          <a href="{{url_for('tutor_by_subject', subject='Home Economics')}}" class="h5 list-group-item">Home Economics</a>
          <a href="{{url_for('tutor_by_subject', subject='Maths')}}" class="h5 list-group-item">Maths</a>
          <a href="{{url_for('tutor_by_subject', subject='Music')}}" class="h5 list-group-item">Music</a>
          <a href="{{url_for('tutor_by_subject', subject='Physics')}}" class="h5 list-group-item">Physics</a>
          <a href="{{url_for('tutor_by_subject', subject='Spanish')}}" class="h5 list-group-item">Spanish</a>
          <a href="{{url_for('tutor_by_subject', subject='Technology')}}" class="h5 list-group-item">Technology</a>
        </div>
      </div>
        

    <div class="container px-5 px-sm-4 pl-lg-5 col-md-9 mt-2 mt-sm-5">
        <div class="row m-auto">
          <div class="col-12 text-center text-sm-left col-sm-8 py-0">
            {% if subject: %}
            <h1 class="my-4 font-weight-semi our-tutors-title">{{ subject|title }} Tutors</h1>
            {% else: %}
            <h1 class="my-4 font-weight-semi our-tutors-title">Our Tutors</h1>
            {% endif %}
          </div>
          <div class="col-12 col-sm-4 p-0">
            <form action="" class="search-form my-1 my-sm-4 font-weight-semi justify-content-end text-right">
              <input class="search-input" type="search" placeholder="Search tutors" required="">
              <i class="fa fa-search"></i>
            </form>
          </div>
          
        </div>
        <div class="row">
          {% if subject or tutor %}
            {% for profile in tutor %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-md-6 mb-4">
                <div class="card h-100 radius translate-y">
                    <a href="{{url_for('tutor_page', username_id=profile._id)}}"><img class="card-img-top radius-top card-profile-image" src="{{profile.profile_image}}" alt=""></a>
                    <div class="card-body">
                        <div class="row card-subject">
                            <h6 class="col-12"><img src="{{ url_for('static', filename='images/grad-cap-sm.svg') }}" class="pr-2">{{profile.subject}}</h6>
                        </div>
                        <h4 class="card-title font-weight-semi pt-1">
                            <a href="{{url_for('tutor_page', username_id=profile._id)}}">{{profile.first_name|title}} {{profile.last_name|title}}</a>
                        </h4>
                        <p class="card-text small crop-text-2">{{profile.about}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="d-flex font-weight-semi"><span class="text-muted pr-2">Rating: </span>&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
            {% else: %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-md-6 mb-4">
                <div class="card h-100 radius translate-y">
                  <img class="card-img-top radius-top card-profile-image" src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3889&q=80" alt=""></a>
                    <div class="card-body">
                        <div class="row card-subject">
                            <h6 class="col-12"><img src="{{ url_for('static', filename='images/grad-cap-sm.svg') }}" class="pr-2">———</h6>
                        </div>
                        <h4 class="card-title font-weight-semi pt-1">Sorry, No Tutor Available </h4>
                        <p class="card-text small crop-text-2">...</p>
                    </div>
                    <div class="card-footer">
                        <small class="d-flex font-weight-semi"><span class="text-muted pr-2">Rating: </span>&#9734; &#9734; &#9734; &#9734; &#9734;</small>
                    </div>
                </div>
            </div>
            {% endfor %}
          {% endif %}
            
        </div>
    </div>
</main>
{% endblock %}