{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
  <h4 class="col-12 alert m-auto alert-success alert-dismissible fixed-bottom mb-5 rounded-0 py-4 text-left text-sm-center border-0" role="alert">
    {{ message }} <i class="fas fa-user-check ml-2"></i> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>
{% endfor %} {% endif %} {% endwith %}
<!-- Page Content -->
<main class="container mt-5 mb-5">
    <div class="row pt-5">
      <div id="sidebar" class="col-lg-3 mt-5 d-none d-md-block">
        <h2 class="h1 my-4 font-weight-semi">Subjects</h2>
        <div class="list-group">
            <a href="{{url_for('tutors')}}" class="h5 list-group-item"><i class="fas fa-users pr-2 pb-3 border-bottom"></i>All Tutors</a>
            {% for subject in subjects_desktop %}
            <a href="{{subject.subject_name}}" class="h5 list-group-item">{{subject.subject_name}}</a>
            {% endfor %}
      </div>
    </div>

    <form class="input-group d-flex col-lg-3 mt-5 d-md-none">
        <select class="pl-4 custom-select" id="inputGroupSelect01">
            <option selected disabled>Choose Your Subject</option>
            {% for subject in subjects_mobile %}
            <option>{{subject.subject_name}}</option>
            {% endfor %}
        </select>
        <span class="input-group-btn">
            <button class="search-btn px-2 px-sm-4" type="submit">Search</button>
        </span>
    </form>

    <div class="col-lg-9 mt-5 pl-lg-5">
        <div class="row">
          <div class="col-6">
            <h1 class="my-4 font-weight-semi">Our Tutors</h1>
          </div>
          <div class="col-6">
            <form action="" class="search-form my-4 font-weight-semi justify-content-end text-right">
              <input class="search-input" type="search" placeholder="Search tutors" required="">
              <i class="fa fa-search"></i>
            </form>
          </div>
          
        </div>
        <div class="row">
          
            {% for profile in tutor_profile %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 radius translate-y">
                    <a href="tutors/{{profile._id}}"><img class="card-img-top radius-top card-profile-image" src="{{profile.profile_image}}" alt=""></a>
                    <div class="card-body">
                        <div class="row card-subject">
                            <h6 class="col-12"><img src="{{ url_for('static', filename='images/grad-cap-sm.svg') }}" class="pr-2">{{profile.subject}}</h6>
                        </div>
                        <h4 class="card-title font-weight-semi pt-3">
                            <a href="tutors/{{profile._id}}">{{profile.first_name|title}} {{profile.last_name|title}}</a>
                        </h4>
                        <p class="card-text small crop-text-2">{{profile.about}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="d-flex font-weight-semi"><span class="text-muted pr-2">Rating: </span>&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</main>
{% endblock %}